#!/bin/sh

set -e

CONFIG=/etc/default/dns-cache
. /usr/share/debconf/confmodule

if [ -e $CONFIG ]; then
    . $CONFIG || true

    set -- `echo $ADDRV4/$ADDRV6 | tr / ' '`
    db_set dns-cache/address $1/$3

    cat $CONFIG
    MAILTO=`echo $DAEMON_OPTS | sed -e 's/.*mailto=\([^ "]*\).*/\1/'`
    db_set dns-cache/mailto $MAILTO
fi

db_input medium dns-cache/address || true
db_input medium dns-cache/mailto || true
db_go || true

exit 0
