#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DB2MAN=/usr/share/xml/docbook/stylesheet/nwalsh/manpages/docbook.xsl

XP=xsltproc --nonet

dns-cache-monitor.8: debian/dns-cache-monitor.dbk
	$(XP) $(DB2MAN) $<

configure: configure-stamp
configure-stamp:
	dh_testdir
	perl -w configure --prefix=/usr --with-perl=/usr/bin/perl
	touch configure-stamp

build: build-stamp dns-cache-monitor.8

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/dns-cache-monitor


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installdebconf -n
	dh_installlogrotate
	dh_installinit -n -- defaults 14 84
	dh_installman dns-cache-monitor.8
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
